<html>
<head>
<style>
.image {
	width: 300px;
	height : 300px;
}
.space {
height : 10px;
 border: 1px solid black;
}
table{
	 border: 1px solid black;
}
</style>
</head>
<body>
<center>
<table>
<tr class="danger"><td> Step 1: Click on two terms to select and click GENERATE. </td></tr>
<tr><td><img src="/img/instructions/Step_1.png" alt="" class="image"></td><tr><tr class="space"></tr>
<tr class="danger"><td> Step 2: Provide the relation between the two terms and the relavant date in the pop up. </td></tr>
<tr><td><img src="/img/instructions/Step_2.png" alt="" class="image"></td></tr><tr class="space"></tr>
<tr class="danger"><td> Step 3: The links will be visible in the Visualization view</td></tr>
<tr><td><img src="/img/instructions/Step_3.png" alt="" class="image"></td></tr><tr class="space"></tr>
<tr class="danger"><td> Step 4: Click 'GET RELATED DOCUMENTS' to get documents related to the links created.</tr></td>
</tr><tr><td><img src="/img/instructions/Step_4.png" alt="" class="image"></td></tr><tr class="space">
<tr class="danger"><td> Step 5: Create relations across the related documents by clicking on the terms</td></tr>
<tr><td><img src="/img/instructions/Step_5.png" alt="" class="image"></td></tr><tr class="space"></tr>
<tr class="danger"><td> Step 6: You can note important terms in scratch pad and create links from them.</td></tr>
<tr><td><img src="/img/instructions/Step_6.png" alt="" class="image"></td></tr><tr class="space"></tr>
<tr class="danger"><td> Step 7: You can edit the created relations in the edit view, by selecting 'Edit'</td></tr>
<tr><td><img src="/img/instructions/Step_7.png" alt="" class="image"></td></tr><tr class="space"></tr> 
<tr class="danger"><td> Step 8: Click 'FINISH' button to get Survey code.</td></tr>
<tr><td><img src="/img/instructions/Step_8.png" alt="" class="image"></td></tr>
</table>
</center>
</body>
</html> 
